/*TO DO: 
[ ] all the interface is in a container in the middle of the screen 
[ ] background colour
[ ] background image is centered
[ ] edit button is a slider
[ ] place the buttons (logout, back to homepage etc) at the right places
[ ] container response to size of content (or scrollbar)
*/

/*BACKGROUND*/
.background {
  background-color: #dfcf8a;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
/*WRAPPER */
.wrapper {
  width: 50%;
  margin: 0 auto;
  background-color: #d89e75;
  padding: 20px;
  border: 5px solid #a55f2d;
  border-radius: 15px;
}
/*CHARACTERSHEET NAVBAR*/
.characterSheetNav {
  display: flex;
  justify-content: space-between;
}
/*NONCHAR BUTTONS*/

.regButton {
  background-color: #b1f59d;
  border-radius: 12px;
  padding: 5px 12px;
}
